<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://jAVA.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<servlet>
		<description>
		</description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceServlet</display-name>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookVenueServlet</display-name>
		<servlet-name>BookVenueServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.BookVenueServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyBookServlet</display-name>
		<servlet-name>MyBookServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.MyBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WelletRechargeServlet</display-name>
		<servlet-name>WelletRechargeServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.WelletRechargeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateVenueServlet</display-name>
		<servlet-name>UpdateVenueServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.UpdateVenueServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteVenue</display-name>
		<servlet-name>DeleteVenue</servlet-name>
		<servlet-class>com.weddingplanner.controller.DeleteVenue</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RechargeWallet</display-name>
		<servlet-name>RechargeWallet</servlet-name>
		<servlet-class>com.weddingplanner.controller.RechargeWallet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteService</display-name>
		<servlet-name>DeleteService</servlet-name>
		<servlet-class>com.weddingplanner.controller.DeleteService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServiecServlet</display-name>
		<servlet-name>UpdateServiecServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.UpdateServiecServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelVenueServlet</display-name>
		<servlet-name>CancelVenueServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.CancelVenueServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveServiceServlet</display-name>
		<servlet-name>RemoveServiceServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.RemoveServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelServiceServlet</display-name>
		<servlet-name>CancelServiceServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.CancelServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/ServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookVenueServlet</servlet-name>
		<url-pattern>/BookVenueServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyBookServlet</servlet-name>
		<url-pattern>/MyBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelletRechargeServlet</servlet-name>
		<url-pattern>/WelletRechargeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateVenueServlet</servlet-name>
		<url-pattern>/UpdateVenueServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteVenue</servlet-name>
		<url-pattern>/DeleteVenue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RechargeWallet</servlet-name>
		<url-pattern>/RechargeWallet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteService</servlet-name>
		<url-pattern>/DeleteService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServiecServlet</servlet-name>
		<url-pattern>/UpdateServiecServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelVenueServlet</servlet-name>
		<url-pattern>/CancelVenueServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveServiceServlet</servlet-name>
		<url-pattern>/RemoveServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelServiceServlet</servlet-name>
		<url-pattern>/CancelServiceServlet</url-pattern>
	</servlet-mapping>
	
</web-app>