<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://jAVA.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<servlet>
		<description>
		</description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceServlet</display-name>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookVenueServlet</display-name>
		<servlet-name>BookVenueServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.BookVenueServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MyBookServlet</display-name>
		<servlet-name>MyBookServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.MyBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WelletRechargeServlet</display-name>
		<servlet-name>WelletRechargeServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.WelletRechargeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateVenueServlet</display-name>
		<servlet-name>UpdateVenueServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.UpdateVenueServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteVenue</display-name>
		<servlet-name>DeleteVenue</servlet-name>
		<servlet-class>com.weddingplanner.controller.DeleteVenue</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RechargeWallet</display-name>
		<servlet-name>RechargeWallet</servlet-name>
		<servlet-class>com.weddingplanner.controller.RechargeWallet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteService</display-name>
		<servlet-name>DeleteService</servlet-name>
		<servlet-class>com.weddingplanner.controller.DeleteService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServiecServlet</display-name>
		<servlet-name>UpdateServiecServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.UpdateServiecServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelVenueServlet</display-name>
		<servlet-name>CancelVenueServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.CancelVenueServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveServiceServlet</display-name>
		<servlet-name>RemoveServiceServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.RemoveServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelServiceServlet</display-name>
		<servlet-name>CancelServiceServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.CancelServiceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>cancelService</display-name>
		<servlet-name>cancelService</servlet-name>
		<servlet-class>com.weddingplanner.controller.cancelService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelService</display-name>
		<servlet-name>CancelService</servlet-name>
		<servlet-class>com.weddingplanner.controller.CancelService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RatingServlet</display-name>
		<servlet-name>RatingServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.RatingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FilterCityServlet</display-name>
		<servlet-name>FilterCityServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.FilterCityServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FilterByServlet</display-name>
		<servlet-name>FilterByServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.FilterByServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InactiveUserServlet</display-name>
		<servlet-name>InactiveUserServlet</servlet-name>
		<servlet-class>com.weddingplanner.controller.InactiveUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelService</servlet-name>
		<url-pattern>/CancelService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RatingServlet</servlet-name>
		<url-pattern>/RatingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilterCityServlet</servlet-name>
		<url-pattern>/FilterCityServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FilterByServlet</servlet-name>
		<url-pattern>/FilterByServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InactiveUserServlet</servlet-name>
		<url-pattern>/InactiveUserServlet</url-pattern>
	</servlet-mapping>
	
	
	
</web-app>